---
- name: SHOW IOSXE VERSION  
  hosts: 10.40.180.24
  gather_facts: no

  # ansible-playbook -i inventory.yml -e target_hosts=sandbox-iosxe-latest-1.cisco.com playbooks/show_version.yml

  tasks:
    - name: GET THE IOS-XE SOFTWARE VERSION 
      cisco.ios.ios_command:
        commands: show version
        wait_for: result[0] contains IOS
      register: ios_version

    - name: SHOW THE IOS-XE SOFTWARE VERSION
      debug:
        msg:
          # - "{{ ios_version }}" 
          - "{{ ios_version.stdout_lines[0][0] }}"
