---
- name: Upgrade IOS on Cisco 3560-CX to 15.2(7)E12
  hosts: iosxe
  gather_facts: no
  connection: network_cli

  vars:
    ios_image: "c3560cx-universalk9-mz.152-7.E12"
    image_flash_path: "flash:{{ ios_image }}"
    boot_command: "boot system flash:{{ ios_image }}"
    reload_delay: 20

  tasks:

    - name: Gather IOS facts
      cisco.ios.ios_facts:
      register: ios_info
      ignore_errors: yes

    - name: Show raw ios_facts output
      debug:
        var: ios_info

    - name: Print current IOS version if available
      debug:
        msg: "Current version is {{ ios_info.ansible_facts.ansible_net_version }}"
      when: ios_info.ansible_facts.ansible_net_version is defined

    - name: Check if image already exists in flash
      ios_command:
        commands: "dir flash:"
      register: flash_contents
      
    - name: Determine if image is present
      set_fact:
       image_present: "{{ 'c3560cx-universalk9-mz.152-7.E12.bin' in flash_output.stdout[0] }}"
    
    - name: Show flash output
      debug:
        msg: "{{ flash_contents.stdout[0] }}"
      when: flash_contents.stdout | length > 0

    - name: Enable SCP server
      ios_config:
        lines:
          - ip scp server enable

    - name: Transfer image to flash (if not present)
      when: not image_present
      ansible.netcommon.net_put:
        src: "scp://{{ scp_user }}:{{ scp_pass }}@{{ scp_server }}/{{ ios_image }}"
        dest: "{{ image_flash_path }}"
        protocol: scp

    - name: Set boot system to new image
      ios_config:
        lines:
          - "{{ boot_command }}"
        save_when: always

    - name: Reload the switch
      ios_command:
        commands:
          - reload
        prompt: "Proceed with reload? [confirm]"
        answer: "\n"
      async: 10
      poll: 0

    - name: Wait for switch to come back online
      wait_for_connection:
        delay: "{{ reload_delay }}"
        timeout: 300

    - name: Gather IOS facts after reload
      cisco.ios.ios_facts:

    - name: Print upgraded version
      debug:
        msg: "New IOS version is {{ ansible_net_version }}"
